
.container{
  width: 120rem;
  margin: 8rem auto;
  background-color: var(--clr-Grey-light-1);

}

.header{
  background-color: var(--clr-white);
}

.content{
  display: flex;
}

.sidebar{
background-color: var(--clr-Grey-dark-1);
}

.hotel__views{
  background-color: var(--clr-white);
}